.css-4tzuv{
    margin-left: auto !important;
    display: block;
    margin-right: auto !important;
}

.add-brand-body{
    background-color:#f4fcff;
    height: 100vh;
}

/* brand list */

.css-vy97oy-MuiGrid-root{
    margin-left: 0px !important;
}


/* Logo image */
.css-1wlk0hk-MuiAvatar-root{
    border-radius: 0px !important;
}