.css-tlc64q-MuiPaper-root-MuiDialog-paper{
    overflow-y: visible !important;
}
.css-ypiqx9-MuiDialogContent-root{
    overflow-y: visible !important;
}
.css-1pqm26d-MuiAvatar-img{
    object-fit: contain !important;
}
