.css-1767u0a{
    padding: 0px !important;
}
.css-13v6pxd{
    padding: 0px !important;
}
.css-a5l00l{
    padding:0px !important;
}
img{
    display: block;
    margin: auto;
}
.login-heading{
    color: #1976d2;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    /* border-bottom: 1px solid #1976d2; */
    /* padding-bottom: 3px; */
}
