.css-1p5q5e5-MuiStack-root{
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 40px !important;
}

/* Delete Dialog Box */

.css-1t1j96h-MuiPaper-root-MuiDialog-paper{
    width: 500px !important;
}
.css-uhb5lp{
    width: 500px !important;
}
