.slider-a
{
    width: 90%!important;
}
.suggest-card img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-list:hover + .slick-prev::before{
    display: block;
}
.suggest-card:hover .slick-next{
    display: block;
}

